<%= simple_form_for @task do |f| %>
<%= f.input :activity, label: false, placeholder: "What is the task?", input_html: { class: 'fw-bold input-placeholder'} %>
  <%= f.input :priority,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'priority-wrapper',
      item_wrapper_class: 'priority-item',
      input_html: {class: 'priority-selector'},
      collection: Task::PRIORITIES %>

  <%= f.input :due_date, as: :string, label: 'Pick a due date:', input_html: { class: 'input-placeholder',
      data: { controller: "flatpickr", flatpickr_start_value: @plan.start_date, flatpickr_end_value: @plan.end_date } } %>
  <div class="mt-4 d-flex flex-row justify-content-around">
    <%= link_to url_for(:back), class: 'btn btn-red' do %>
      cancel
    <% end %>
    <%= f.submit value: 'Apply', class: 'btn btn-blue' %>
  </div>
<% end %>
