<%= simple_form_for([@plan, @task]) do |f| %>
  <%= f.input :activity, label: false, placeholder: "What is the task", input_html: { class: 'bg-white fw-light rounded-5 px-4'} %>

  <%= f.input :priority,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'priority-wrapper',
      item_wrapper_class: 'priority-item',
      input_html: {class: 'priority-selector'},
      collection: Task::PRIORITIES %>

  <%= f.input :due_date, as: :string, label: 'Pick a due date:',input_html: { class: 'bg-white fw-light rounded-5 px-4', data: { controller: "flatpickr", flatpickr_start_value: @plan.start_date, flatpickr_end_value: @plan.end_date } } %>
  <div class="m-2 align-self-center">
    <%= f.submit value: 'Apply', class: 'btn btn-primary px-3 rounded-5' %>
  </div>
  <div class="m-2">
    <%= link_to url_for(:back), class: 'btn font-skyblue px-2' do %>
      <i class="fa-solid fa-chevron-left">&nbsp back</i>
    <% end %>
  </div>
<% end %>
