<%# dom_id(task) => "task_1" %>
<%# target: :_top means that requests inside this frame are not localized to this portion of page by default %>
<%= turbo_frame_tag dom_id(task), target: :_top, class: "horizontal-grey pt-3 d-flex flex-row" do %>

  <%= turbo_stream_from task %>

  <div class="d-flex flex-column" data-controller="tasks" data-action="dblclick->tasks#fire" data-id="<%= task.id %>">
    <div class="tasks d-flex align-items-center justify-content-between <%= 'done' if task.completion %>">
      <%= link_to toggle_complete_task_path(task),
                  data: { turbo_method: :patch }, class: 'btn' do %>
        <%# <i class="fa-regular fa-circle-check"></i> %>
        <div class="color-status me-3 task-<%= task.priority %> "></div>
      <% end %>
      <div type="button" class="task-text" data-bs-toggle="collapse" href="#multiCollapse<%= task.id %>" role="button" aria-expanded="false" aria-controls="multiCollapse<%= task.id %>">
        <%= task.activity %>
        <% if task.subtasks.count != 0 %>
          <button class="task-chevron"><i class="fa-solid fa-chevron-right"></i></button>
        <% end %>
        <p class='mb-0 task-due'>
          <small><i class="fa-regular fa-calendar"></i> <%= task.due_date.try(:strftime, "%d/%m/%Y") %></small>
        </p>
      </div>


      <div class="dropdown">
        <button id="dropdown" class="btn txt-darkgray dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to new_task_subtask_path(task), class: 'dropdown btn text-primary' do %>
              <i class="fa-solid fa-plus"></i> add a sub-todo
            <% end %>
          </li>
          <li>
            <%= link_to edit_task_path(task), class: 'dropdown btn text-warning' do %>
              <i class="fa-solid fa-pen-to-square"></i> edit todo
            <% end %>
          </li>
          <li>
            <%= link_to task_path(task), class: 'dropdown btn text-danger',
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-xmark"></i> delete todo
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3 d-flex flex-column">
      <% task.subtasks.each do |subtask|  %>
        <div class="collapse multi-collapse" id="multiCollapse<%= task.id %>">
          <%= render 'subtasks/subtask', subtask: subtask , class:"subtask-arrow" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
