<%# dom_id(task) => "task_1" %>
<%# target: :_top means that requests inside this frame are not localized to this portion of page by default %>
<%= turbo_frame_tag dom_id(task), target: :_top, data: {controller:"progress-bar"}, class: "ms-2 d-flex flex-row" do %>
  <div class="d-flex flex-column" data-controller="tasks" data-action="dblclick->tasks#fire" data-id="<%= task.id %>">
    <div class="ms-2 tasks d-flex align-items-center <%= 'done' if task.completion %>">
        <%= link_to toggle_complete_task_path(task),
                    data: { turbo_method: :patch, turbo_frame: dom_id(task) },
                    class: 'btn font-skyblue px-2' do %>
          <%# <i class="fa-regular fa-circle-check"></i> %>
        <div class="color-status me-3 task-<%= task.priority %> "></div>
        <% end %>
      <bdi type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <%= task.activity %>
        <p class='mb-0 task-due'>
          <small><i class="fa-regular fa-calendar"></i> <%= task.due_date.try(:strftime, "%d/%m/%Y") %></small>
        </p>
      </bdi>
      <div class="ms-3 d-flex align-items-center">
        <%= link_to edit_task_path(task), class: 'btn text-warning px-2' do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to task_path(task), class: 'btn text-danger px-2',
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-xmark"></i>
        <% end %>
      </div>
      <%= link_to new_task_subtask_path(task),class: 'btn font-turquoise' do %>
        <i class="fa-solid fa-plus"></i>&nbsp add
      <% end %>
    </div>
    <div class="mb-3 d-flex flex-column">
      <% task.subtasks.each do |subtask|  %>
        <div class="collapse" id="collapseExample"><%= render 'subtasks/subtask', subtask: subtask , class:"subtask-arrow" %></div>
      <% end %>
    </div>
  </div>
<% end %>
