<div class="container-md my-5 d-flex flex-column">
  <h1>Create a new task</h1>

  <div class="m-3 mt-5 col-9 align-self-center">
  <%= simple_form_for(@task, url: create_without_plan_path) do |f| %>
  <%= f.input :plan_id, collection: Plan.where( user: current_user) %>
  <%= f.input :activity, label: false, placeholder: "What is the task" %>
  <%= f.input :priority %>
  <%= f.input :due_date, label: false, placeholder: "When is it due?" %>
  <div class="m-2 align-self-center">
    <%= f.submit value: 'Apply', class: 'btn btn-primary px-3 rounded-5' %>
  </div>
  <div class="m-2">
    <%= link_to url_for(:back), class: 'btn font-skyblue px-2' do %>
      <i class="fa-solid fa-chevron-left">&nbsp back</i>
    <% end %>
  </div>
<% end %>
  </div>
</div>
