<div class="container-md my-5 mx-3 p-5 d-flex flex-column">
  <h1>Create a new task</h1>

  <div class="m-3 mt-5 col-9 align-self-center">
    <%= simple_form_for(@task, url: create_without_plan_path) do |f| %>
  <%= f.input :plan_id, collection: Plan.where( user: current_user), input_html: { class: 'bg-white fw-light rounded-5 px-4'} %>
  <%= f.input :activity, label: false, placeholder: "What is the task", input_html: { class: 'bg-white fw-light rounded-5 px-4'} %>
  <%= f.input :priority,
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'priority-wrapper',
      item_wrapper_class: 'priority-item',
      input_html: {class: 'priority-selector'},
      collection: Task::PRIORITIES %>
 <%= f.input :due_date, as: :string, label: 'Pick a due date:',input_html: { class: 'bg-white fw-light rounded-5 px-4', data: { controller: "flatpickr" } } %>
    <%= f.submit value: 'Apply', class: 'btn btn-primary px-3 rounded-5' %>
  </div>
  <div class="m-2">
    <%= link_to url_for(:back), class: 'btn font-skyblue px-2' do %>
      <i class="fa-solid fa-chevron-left">&nbsp back</i>
    <% end %>
  </div>
<% end %>
  </div>
</div>
