<%= turbo_frame_tag dom_id(subtask), target: :_top, class: "ms-4 d-flex flex-row" do %>
  <div class="ms-3 tasks d-flex align-items-center  subtask-arrow <%= 'done' if subtask.completion %>">
    <%= link_to toggle_complete_subtask_path(subtask),
                data: { turbo_method: :patch, turbo_frame: dom_id(subtask.task) },
                class: 'btn font-skyblue px-2' do %>
      <%# <i class="fa-regular fa-circle-check"></i> %>
    <div class="color-status me-3 task-<%= subtask.priority %>"></div>
    <% end %>
    <bdi>
      <%= subtask.activity %>
      <p class='mb-0 task-due'>
        <small><i class="fa-regular fa-calendar"></i> <%= subtask.due_date.try(:strftime, "%d/%m/%Y") %></small>
      </p>
    </bdi>
    <div class="dropdown">
      <button id="dropdown" class="btn txt-darkgray dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_subtask_path(subtask), class: 'btn text-warning text-warning' do %>
            <i class="fa-solid fa-pen-to-square"></i> edit sub-todo
          <% end %>
        </li>
        <li>
          <%= link_to subtask_path(subtask), class: 'btn text-danger',
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-xmark"></i> delete sub-todo
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
