<%= simple_form_for @plan, class: 'form',data:{controller: "popup", action: "submit->popup#create"} do |f| %>
  <!-- Plan form fields go here -->
  <%= f.input :name, label: false, placeholder: "What is your plan?", input_html: { value: @name_query, class: 'input-placeholder' } %>
  <%= f.input :description, label: false, placeholder: "Describe it briefly", input_html: { class: 'input-placeholder', rows: 4, cols: 6 } %>
  <%= f.input :start_date, as: :string, label: 'Pick a starting date:', input_html: { class: 'input-placeholder', data: { controller: "datepicker" } } %>
  <%= f.input :end_date, as: :string, label: 'And your goal date:', input_html: { class: 'input-placeholder', id: "end_date" } %>
  <%= hidden_field_tag :new_task, false ,data: {popup_target: "hiddenField"} %>

  <div class="m-2">
    <%= link_to url_for(:back), class: 'btn link-foward' do %>
      <%= image_tag "back.svg", class: "arrow-foward" %> Back
    <% end %>
    <%= f.submit value: 'Apply', class: 'btn btn-primary px-3 rounded-5', id: 'submit-button' %>
  </div>
</div>

<% end %>
