<div class="container container-fix d-flex">
  <div class="mt-3 mb-5 me-5 white-background scroll-height" style="">
    <h1 class="title-h1">All my plans</h1>
        <h3 class="title-h3"><%= image_tag "arrow.svg", class: "arrow-h3" %>Your plans on going</h3>

  <%# **************************************** %>

    <div class="m-3">
      <div class="m-3">
      <%= link_to new_plan_path(@plan), class: 'btn ' do %>
          <%= image_tag "add.svg", class: "add-h3 me-3" %>create plan
        <% end %>
      </div>
      <%# ******************* START Plans ******************* %>

      <div class=" d-flex flex-row scrollbar">
        <% @plans.each do |plan| %>
          <div class="my-3 px-3 text-center vertical-grey">
            <div style="max-width:380px">
              <div class="mx-3">
                <div class="d-flex flex-row">
                  <h3>
                    <%= link_to  plan_path(plan), class:'text-decoration-none text-dark text-center' do %>
                      <div class="ms-5 pb-3">
                        <%= render 'plans/progress', plan: plan %>
                      </div>
                      <%= plan.name %>
                    <% end %>
                  </h3>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <%# ******************** END Plans ******************** %>
    </div>

  <%# **************************************** %>
  </div>

  <%# <script language="javascript">
  setInterval(function(){
     window.location.reload(1);
  }, 10000);
  </script> %>
</div>
