<div class="container">
  <h1>My view on all my plans</h1>

  <div class="m-3">
    <% @plans.each do |plan| %>
      <div class="card m-3 p-3">
        <h3><%= plan.name %></h3>
        <p><%= plan.description %></p>
        <p class="fw-light">planned from <%= plan.start_date %> to <%= plan.end_date %></p>
        <div class="card-body">
          <% plan.tasks.each do |task|  %>
            <p>
              <%= task.activity %>
              <%= task.due_date %>
              <%= link_to edit_plan_path(task), class: 'btn text-warning px-3' do %>
                <i class="fa-solid fa-rotate"></i>
              <% end %>
              <%= link_to task_path(task),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: 'btn text-danger px-3' do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </p>
          <% end %>
            <%= link_to new_plan_task_path(plan),
                        class: 'btn text-success px-3' do %>
              <i class="fa-solid fa-plus"></i>
            <% end %>
        </div>

          <div class="m-3">
            <%= link_to edit_plan_path(plan),
                        class: 'btn text-warning px-3' do %>
              <i class="fa-solid fa-rotate"></i>
            <% end %>
            <%= link_to plan_path(plan),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: 'btn text-danger px-3' do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
          </div>
      </div class="card">
    <% end %>
    <div class="m-3">
      <%= link_to new_plan_path(@plan),
                    class: 'btn text-success px-3' do %>
          <i class="fa-solid fa-plus">new plan</i>
        <% end %>
    </div>
  </div>
</div>
