<div class="container d-flex">
  <div class="mt-3 mb-5 me-5 white-background">
  <h1 class="title-h1">All my plans</h1>


  <%# **************************************** %>

    <div class="m-3">
      <div class="m-3">
        <%= link_to new_plan_path(@plan), class: 'btn font-turquoise px-2' do %>
          <i class="fa-solid fa-plus"></i>&nbsp add plan
        <% end %>
      </div>


      <%# ******************* START Plans ******************* %>

      <div class=" d-flex flex-row">
        <% @plans.each do |plan| %>
          <div class="my-3 px-3 text-center vertical-grey">
            <div style="max-width:380px">
              <div class="ms-5 pb-3">
                <%= render 'plans/progress', plan: plan %>
              </div>

              <div class="mx-3">
                    <h3><%= link_to plan.name, plan_path(plan), class:'text-decoration-none text-dark'  %></h3>
                    <div class="dropdown">
                      <button id="dropdown-<%= plan.id %>" class="btn txt-darkgray dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-target="#dropdown-<%= plan.id %>" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to edit_plan_path(plan), data:{turbo: false}, class: 'btn text-warning' do %>
                            <i class="fa-solid fa-pen-to-square"></i> edit plan
                          <% end %>
                        </li>
                        <li>
                          <%= link_to plan_path(plan),
                                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                                      class: 'btn text-danger' do %>
                            <i class="fa-solid fa-xmark"></i> delete plan
                          <% end %>
                        </li>
                      </ul>
                    </div>
                    <%= link_to edit_plan_path(plan), data:{turbo: false}, class: 'btn text-warning' do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                    <%= link_to plan_path(plan),
                                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                                  class: 'btn text-danger px-2' do %>
                        <i class="fa-solid fa-xmark"></i>
                    <% end %>

                <div><%= plan.description %></div>

                <% if plan.start_date == plan.end_date %>
                <p class="fw-light"><small>Date: <%= plan.start_date.try(:strftime, "%d/%m/%Y") %></small></p>
              <% else %>
              <p class="fw-light"><small>Starting <%= plan.start_date.try(:strftime, "%d/%m/%Y") %> to <%= plan.end_date.try(:strftime, "%d/%m/%Y") %></small></p>
              <% end %>
              </div>

              <div class="card-body">
                <% plan.tasks[0..2].each do |task|  %>
                  <%= render 'tasks/task', task: task %>
                <% end %>
                <%# <%= link_to new_plan_task_path(plan),class: 'btn font-turquoise px-2 ms-3' do %>
                  <%# <i class="fa-solid fa-plus"></i>&nbsp new task %>
                <%# <% end %> <%# > %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
      <%# ******************** END Plans ******************** %>
    </div>

  <%# **************************************** %>

    <div class="m-2">
      <%= link_to root_path, class: 'btn font-skyblue px-2' do %>
        <i class="fa-solid fa-chevron-left"></i>&nbsp home
      <% end %>
    </div>



  </div>

  <%# <script language="javascript">
  setInterval(function(){
     window.location.reload(1);
  }, 10000);
  </script> %>
</div>
