<%# List of all plans %>
<div>
  <% current_user.plans.each do |plan| %>
    <% if plan == @plan %>
      <p class="btn btn-primary"><%= plan.name %></p>
    <% else %>
      <%= link_to plan.name, plan, class: 'btn' %>
    <% end %>
  <% end %>
</div>

<%# Details of current plan (@plan) %>
<div class="container my-5 mx-3 p-3">
  <h1><%= @plan.name %></h1>
  <div class="progress-bar" data-controller="progress-bar" data-progress-bar-target="progress" data-progress-bar-plans-value="<%=@plan.tasks.size%>"data-progress-bar-completedplans-value="<%=@plan.tasks.select{|task| task.completion}.size%>">
    <progress value="75" min="0" max="100" style="visibility:hidden;height:0;width:0;" data-progress-bar-target="circle">75%</progress>
  </div>

  <div class="m-3">
    <div class="dropdown">
      <%= @plan.description %>
      <button id="dropdown" class="btn txt-darkgray dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_plan_path(@plan), class: 'btn text-warning' do %>
            <i class="fa-solid fa-pen-to-square"></i> edit plan
          <% end %>
        </li>
        <li>
          <%= link_to plan_path(@plan),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: 'btn text-danger' do %>
            <i class="fa-solid fa-xmark"></i> delete plan
          <% end %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <% @plan.tasks.each do |task|  %>
        <div class="ms-1 my-3 d-flex flex-column">
          <%= render 'tasks/task', task: task %>
        </div>
      <% end %>

      <%= link_to new_plan_task_path(@plan),class: 'btn font-turquoise px-2' do %>
        <i class="fa-solid fa-plus">&nbsp new task</i>
      <% end %>
    </div>
  </div>
  <div class="m-2">
  <%= link_to plans_path, class: 'btn font-skyblue px-2' do %>
    <i class="fa-solid fa-chevron-left">&nbsp back</i>
  <% end %>
  </div>
</div>
