<h1>My plan is:</h1>


<h2 class="p-3"><%= @plan.name %></h2>
<p><%= @plan.description %></p>
<p><%= @plan.start_date %></p>
<p><%= @plan.end_date %></p>
<ul>
  <% @plan.tasks.each do |task| %>
    <li><%= task.activity %></li>
    <li><%= task.completion %></li>
    <li><%= task.priority %></li>
    <li><%= task.due_date %></li>
  <% end %>
</ul>
