<h1>My plan is:</h1>

<p><%= @plan.name %></p>
<p><%= @plan.description %></p>
<ul>
  <% @plan.tasks.each do |task| %>
    <li><%= task.activity %></li>
  <% end %>
</ul>
<%= link_to "edit my plan",  edit_plan_path(@plan), class: 'btn-blue' %>
<%= link_to "delete", plan_path(@plan), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"  }, class: 'btn-blue' %>
