<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1617791160536-598cf32026fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80)">
  <h1>My plan is:</h1>
</div>

<h2 class="p-3"><%= @plan.name %></h2>
<p><%= @plan.description %></p>
<p><%= @plan.start_date %></p>
<p><%= @plan.end_date %></p>
<ul>
  <% @plan.tasks.each do |task| %>
    <li><%= task.activity %></li>
    <li><%= task.completion %></li>
    <li><%= task.priority %></li>
    <li><%= task.due_date %></li>
  <% end %>
</ul>
